ubuntu/platform-admin/secure-sudo-dns/config/etc--netplan--PRIMARY.yaml
ubuntu/platform-admin/secure-sudo-dns/config/etc--sudoers.d--99-overrides
ubuntu/platform-admin/secure-sudo-dns/config/etc--systemd--resolved.conf